<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>

<listener class-name = "Academy.listeners"/>
<listener class-name = "resources.ExtentReporterNg"/>


</listeners>

  <test thread-count="5" name="Validating navigationTest">
    <classes>
      <class name="Academy.ValidateNavigationBar"/>
      </classes>
      </test>
       
       <test thread-count="5" name="/ValidatingTitleTest">
    <classes>
      <class name="Academy.ValidateTitle"/>
      </classes>
      </test>
      
    <test thread-count="5" name="Validating userlogin">
    <classes>   
      <class name="Academy.HomePage"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
